@model IEnumerable<ViewProduct>

<div class="bg-primary m-1 p-1 text-white"><h4>Display</h4></div>
<table>
    <tr>
        <th>Название товара</th>
        <th>Штрих-код</th>
        <th>Категория</th>
        <th>Цена в базовой валюте</th>
        <th>Цена</th>
        <th>Валюта</th>
        <th>Количество</th>
    </tr>
    @foreach (ViewProduct p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Barcode</td>
            <td>@p.CategoryName</td>
            <td>@p.BasicCurrPrice</td>
            <td>@p.Price</td>
            <td>@p.CurrencyName</td>
            <td>@p.Count</td>
        </tr>
    }
</table>